@import "~bootstrap/scss/bootstrap.scss";


.box{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-top: 10px;
}

.box div{
    background-color: gray;
    color: white;
    display: inline-block;
    align-items: center;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 90px;
    width: 90px;
    font-weight: bolder;
    border-radius: 5px;
}